* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #fefefe;
  color: #29292e;

  overflow: hidden;
}

:root {
  --hue: 212;
  --base-color: hsl(var(--hue) 100% 59%);
  --base-hover-color: hsl(var(--hue) 100% 30%);
}
