#race {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .race-header {
    position: fixed;
    z-index: 3;
    top: 10px;

    display: flex;
    gap: 100px;

    .race-information {
      padding: 10px;
      width: 150px;
      text-align: center;

      border: 2px solid black;
      background: #fefefe;

      font: 400 1rem 'VT323', sans-serif;
      font-style: normal;

      border-radius: 10px;

      p {
        font-size: 3em;
      }
    }
  }

  .track {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    .gif {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 1002px;
      height: 1002px;

      background: url(../../assets/images/spriteTrackGiff.png);

      animation: animate 0.5s steps(2) infinite;
    }
    @keyframes animate {
      from {
        background-position: 0;
      }
      to {
        background-position: 2004px;
      }
    }

    .gif.pause {
      animation-play-state: paused;
    }
  }

  .car {
    position: absolute;
    height: auto;
  }

  .bottom-center,
  .bottom-left,
  .bottom-right {
    width: 15vw;
    bottom: 0;
    z-index: 4;
  }

  .bottom-center {
    left: 40vw;
  }

  .bottom-left {
    left: 5vw;
  }

  .bottom-right {
    left: 75vw;
  }

  .mid-center,
  .mid-left,
  .mid-right {
    width: 10vw;
    bottom: 25vh;
    z-index: 3;
  }

  .mid-center {
    left: 42.6vw;
  }

  .mid-left {
    left: 22vw;
  }

  .mid-right {
    left: 63vw;
  }

  .top-center,
  .top-left,
  .top-right {
    width: 5vw;
    bottom: 40vh;
    z-index: 2;
  }

  .top-center {
    left: 45.2vw;
  }

  .top-left {
    left: 36vw;
  }

  .top-right {
    left: 55vw;
  }
}
